.git
.gitignore

.DS_Store
.idea
.cursor

.venv
.venv*
.tox
.pixi/

__pycache__
*.pyc
*.pyo

.pytest_cache
.ruff_cache
.mypy_cache
.coverage

build
dist
*.egg-info

*.log
*.tmp

.ipynb_checkpoints

_CBS_tmp
_plot_tmp
