.DS_Store
.Rhistory
.git
.idea/
.pixi/
.venv*
__pycache__
wisecondorx.egg-info/
/build/
/dist/
**.pyc
.vscode/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/
*.egg-info/

*.log
*.tmp

.ipynb_checkpoints/

.env
.env.*

debug/
_CBS_tmp/
_plot_tmp/