[tool.black]
line-length = 79
target_version = ['py36','py37','py38','py39']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''
[tool.pixi.workspace]
name = "WisecondorX"
channels = ["conda-forge", "bioconda"]
platforms = ["linux-64", "osx-arm64"]

[tool.pixi.pypi-dependencies]
WisecondorX = { path = ".", editable = true }

[tool.pixi.tasks]
